---
import type { Address } from 'storefront:client';

type Props = {
	address: Exclude<Address, null>;
};

const { address } = Astro.props;
---

<section class="grid gap-8">
	<div>
		<h2 class="mb-2 text-lg font-semibold">Tu pedido está confirmado</h2>
		<p>Recibirás una confirmación por correo electrónico en breve.</p>
	</div>
	<div>
		<h3 class="mb-2 text-slate-700 dark:text-slate-200">Dirección de envío</h3>
		<address class="font-semibold not-italic">
			<p>{address.line1}</p>
			{address.line2 && <p>{address.line2}</p>}
			<p>
				{address.city}, {address.province}{' '}
				{address.postal}
			</p>
			<p>{address.country}</p>
		</address>
	</div>
</section>
