---
import { getImage } from 'astro:assets';
import { getProductById } from 'storefront:client';
import Card from '~/components/ui/Card.tsx';
import { applyDefaultCacheHeaders } from '~/config.ts';
import { AddToCartForm } from '~/features/cart/AddToCartForm.tsx';
import CollectionSection from '~/features/collection/CollectionSection.astro';
import ProductCarouselSection from '~/features/product/ProductCarouselSection.astro';
import { ProductDetailDescriptionDialog } from '~/features/product/ProductDetailDescriptionDialog.tsx';
import { ProductImageCarousel } from '~/features/product/ProductImageCarousel.tsx';
import { ProductImageSwitcher } from '~/features/product/ProductImageSwitcher.tsx';
import { ProductPrice } from '~/features/product/ProductPrice.tsx';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';
import { unwrap } from '~/lib/util.ts';
import { Icon } from 'astro-icon/components';

applyDefaultCacheHeaders(Astro.response.headers);

const id = unwrap(Astro.params.product, 'Parámetro del producto no encontrado');
const productResponse = await getProductById({
	path: { id },
});

if (productResponse.error) {
	return Astro.redirect('/');
}

const product = productResponse.data;

const productImageSrcs = [product.imageUrl, ...product.images.map((it) => it.url)];
const productImages = await Promise.all(
	productImageSrcs.map((src) =>
		getImage({
			src: new URL(src, Astro.url.origin).href,
			alt: '',
			inferSize: true,
			widths: [400, 700, 960],
			sizes: '(min-width: 1280px) 960px, 100vw',
		}),
	),
);
const firstImage = productImages[0];
if (!firstImage) throw new Error(`No se encontraron imágenes para el producto ${id}`);
---

<PrimaryLayout title={`Bodegas Maquiavelo | ${product.name}`}>
	<main class="mx-auto mt-8 w-full max-w-[1200px] gap-8">
		<div
			class="mx-auto mb-16 mt-8 grid max-w-lg grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-[1fr_32rem] lg:gap-32"
		>
			<div>
				{
					productImages.length > 1 ? (
						<>
							<div class="-mx-4 -mt-8 md:m-0 lg:hidden">
								<ProductImageCarousel client:idle {productImages} />
							</div>
							<div class="hidden lg:block">
								<ProductImageSwitcher client:idle {productImages} />
							</div>
						</>
					) : (
						<Card class="aspect-square justify-center">
							<img
								src={firstImage.src}
								srcset={firstImage.srcSet.attribute}
								sizes={firstImage.attributes.sizes}
								alt={product.name}
								class="object-cover"
							/>
						</Card>
					)
				}
			</div>

			<div class="mt-4">
				<header class="mb-8 flex flex-col items-start gap-3">
					{
						product.discount > 0 ? (
							<p class="rounded-full bg-red-100 px-3 py-[6px] text-sm  font-medium text-red-600">
								{Math.round((1 - (product.price - product.discount) / product.price) * 100)}%
								descuento
							</p>
						) : null
					}
					<h1 class="text-pretty text-3xl font-bold md:text-4xl">
						{product.name}
					</h1>
					{product.tagline && <p class="text-slate-700">{product.tagline}</p>}
					<p class="flex gap-1 text-xl text-slate-700 md:text-2xl">
						<ProductPrice
							class="gap-3 font-semibold"
							price={product.price}
							discount={product.discount}
						/>
						<span> / botella</span>
					</p>
				</header>

				<AddToCartForm client:idle product={product} />
				{
					product.description && (
						<ProductDetailDescriptionDialog title="Descripción" client:idle>
							<div
								class="prose whitespace-pre-line py-6 prose-li:my-0"
								set:html={product.description}
							/>
						</ProductDetailDescriptionDialog>
					)
				}
			</div>
		</div>
		<div class="mx-0 mb-12 mt-8 flex flex-wrap gap-8 lg:gap-32">
			<div class="box-border min-w-60 flex-1 border border-theme-base-200 p-4">
				<i>
					<Icon class="mx-auto my-2" name="mdi:credit-card-check" size={36} aria-hidden="true" />
					<div class="sr-only">Stripe</div>
				</i>
				<p class="mb-2 block text-center text-slate-700">
					Mediante Stripe nos aseguramos de que los pagos sean 100% seguros y rápidos de usar.
					Tendrás todas las facilidades para pagar con tu entidad financiera en sencillos pasos.
				</p>
			</div>
			<div class="box-border min-w-60 flex-1 border border-theme-base-200 p-4">
				<i>
					<Icon class="mx-auto my-2" name="mdi:truck" size={36} aria-hidden="true" />
					<div class="sr-only">Envío</div>
				</i>
				<p class="mb-2 block text-center text-slate-700">
					Envío gratuito para pedidos superiores a 60€ solo dentro del territorio peninsular. Tiempo
					estimado de entrega: 3 a 5 días una vez realizado el pago.
				</p>
			</div>
		</div>

		<div class="mx-auto box-border max-w-lg bg-theme-base-100 p-4">
			<p class="text-center text-sm text-theme-base-400">
				Prohibida la venta de bebidas alcohólicas a menores de 18 años con aplicación a la Ley
				5/2018, de 3 de mayo, de prevención del consumo de bebidas alcohólicas en la infancia y la
				adolescencia.
			</p>
		</div>

		<ProductCarouselSection
			heading="También te puede gustar"
			filterProducts={(products) => products.filter(({ id }) => id !== product.id)}
		/>

		<CollectionSection />
	</main>
</PrimaryLayout>
