---
import { getImage } from 'astro:assets';
import { getProductById } from 'storefront:client';
import { Breadcrumbs } from 'astro-breadcrumbs';
import { Icon } from 'astro-icon/components';
import Card from '~/components/ui/Card.tsx';
import { applyDefaultCacheHeaders } from '~/config.ts';
import { AddToCartForm } from '~/features/cart/AddToCartForm.tsx';
import CollectionSection from '~/features/collection/CollectionSection.astro';
import ProductCarouselSection from '~/features/product/ProductCarouselSection.astro';
import { ProductDetailDescriptionDialog } from '~/features/product/ProductDetailDescriptionDialog.tsx';
import { ProductImageCarousel } from '~/features/product/ProductImageCarousel.tsx';
import { ProductImageSwitcher } from '~/features/product/ProductImageSwitcher.tsx';
import { ProductPrice } from '~/features/product/ProductPrice.tsx';
import PrimaryLayout from '~/layouts/PrimaryLayout.astro';
import { unwrap } from '~/lib/util.ts';
import 'astro-breadcrumbs/breadcrumbs.css';
import { type Product } from 'storefront:client';
import { RiArrowsArrowRightSLine } from 'solid-icons/ri';

applyDefaultCacheHeaders(Astro.response.headers);

const id = unwrap(Astro.params.product, 'Parámetro del producto no encontrado');
const productResponse = await getProductById({
	path: { id },
});

if (productResponse.error) {
	return Astro.redirect('/');
}

const product = productResponse.data;

const productImageSrcs = [product.imageUrl, ...product.images.map((it) => it.url)];
const productImages = await Promise.all(
	productImageSrcs.map((src) =>
		getImage({
			src: new URL(src, Astro.url.origin).href,
			alt: '',
			inferSize: true,
			widths: [400, 700, 960],
			sizes: '(min-width: 1280px) 960px, 100vw',
		}),
	),
);
const firstImage = productImages[0];
if (!firstImage) throw new Error(`No se encontraron imágenes para el producto ${id}`);
---

<PrimaryLayout title={`Bodegas Maquiavelo | ${product.name}`}>
	<main class="mx-auto mt-8 w-full max-w-[1200px] gap-8">
		<Breadcrumbs
			linkTextFormat="capitalized"
			customizeLinks={[
				{
					index: 1,
					text: product.collectionIds,
					href: '/collections/' + product.collectionIds,
				},
				{
					index: 2,
					'aria-disabled': true,
					text: product.name,
				},
			]}
		>
			<svg
				slot="index"
				aria-label="Home Page"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
					points="9 22 9 12 15 12 15 22"></polyline>
			</svg>
			<svg
				slot="separator"
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				><polyline points="9 18 15 12 9 6"></polyline>
			</svg>
		</Breadcrumbs>
		<div
			class="mx-auto mb-16 mt-8 grid max-w-lg grid-cols-1 lg:mx-0 lg:max-w-none lg:grid-cols-[1fr_32rem] lg:gap-32"
		>
			<div>
				{
					productImages.length > 1 ? (
						<>
							<div class="lg:hidden">
								<ProductImageCarousel client:idle {productImages} />
							</div>
							<div class="hidden lg:block">
								<ProductImageSwitcher client:idle {productImages} />
							</div>
						</>
					) : (
						<Card class="aspect-square justify-center">
							<img
								src={firstImage.src}
								srcset={firstImage.srcSet.attribute}
								sizes={firstImage.attributes.sizes}
								alt={product.name}
								class="object-contain"
							/>
						</Card>
					)
				}
			</div>

			<div class="mt-4">
				<header class="mb-8 flex flex-col items-start gap-3">
					{
						product.discount > 0 ? (
							<p class="rounded-full bg-red-100 px-3 py-[6px] text-sm  font-medium text-red-600">
								{Math.round((1 - (product.price - product.discount) / product.price) * 100)}%
								descuento
							</p>
						) : null
					}
					<h1 class="text-pretty text-3xl font-bold md:text-4xl">
						{product.name}
					</h1>
					{
						product.tagline && (
							<p class="text-slate-700 dark:text-theme-base-100">{product.tagline}</p>
						)
					}
					<p class="flex gap-1 text-xl text-slate-700 dark:text-theme-base-100 md:text-2xl">
						<ProductPrice
							class="gap-3 font-semibold"
							price={product.price}
							discount={product.discount}
						/>
						<span> / botella</span>
					</p>
				</header>

				<AddToCartForm client:idle product={product} />
				{
					product.description && (
						<ProductDetailDescriptionDialog title="Descripción" client:idle>
							<div
								class="prose whitespace-pre-line py-6 prose-li:my-0 dark:text-theme-base-100"
								set:html={product.description}
							/>
						</ProductDetailDescriptionDialog>
					)
				}
				{
					product.technical && (
						<div>
							<button>
								<div class="mt-8 flex h-14 cursor-pointer list-none items-center justify-between border-y border-slate-300 font-bold text-slate-600 dark:border-slate-600 dark:text-theme-base-100">
									<a
										href={product.technical}
										target="_blank"
										rel="noopener noreferrer"
										class="no-underline"
									>
										Ficha técnica
									</a>
									<RiArrowsArrowRightSLine class="!size-6" />
								</div>
							</button>
						</div>
					)
				}
			</div>
		</div>
		<div class="mx-0 mb-12 mt-8 flex flex-wrap gap-8 lg:gap-32">
			<div
				class="box-border min-w-60 flex-1 border border-theme-base-200 p-4 dark:border-theme-base-600"
			>
				<i>
					<Icon class="mx-auto my-2" name="mdi:credit-card-check" size={36} aria-hidden="true" />
					<div class="sr-only">Stripe</div>
				</i>
				<p class="mb-2 block text-center text-slate-700 dark:text-theme-base-100">
					Mediante Stripe nos aseguramos de que los pagos sean 100% seguros y rápidos de usar.
					Tendrás todas las facilidades para pagar con tu entidad financiera en sencillos pasos.
				</p>
			</div>
			<div
				class="box-border min-w-60 flex-1 border border-theme-base-200 p-4 dark:border-theme-base-600"
			>
				<i>
					<Icon class="mx-auto my-2" name="mdi:truck" size={36} aria-hidden="true" />
					<div class="sr-only">Envío</div>
				</i>
				<p class="mb-2 block text-center text-slate-700 dark:text-theme-base-100">
					Envío gratuito para pedidos superiores a 60€ solo dentro del territorio peninsular. Tiempo
					estimado de entrega: 3 a 5 días una vez realizado el pago.
				</p>
			</div>
		</div>

		<div class="mx-auto mb-6 box-border max-w-lg bg-theme-base-100 p-4 dark:bg-slate-700">
			<p class="text-center text-sm text-slate-700 dark:text-theme-base-100">
				Prohibida la venta de bebidas alcohólicas a menores de 18 años con aplicación a la Ley
				5/2018, de 3 de mayo, de prevención del consumo de bebidas alcohólicas en la infancia y la
				adolescencia.
			</p>
		</div>

		<ProductCarouselSection
			heading="También te puede gustar"
			filterProducts={(products) => {
				const currentCollections = Array.isArray(product.collectionIds)
					? product.collectionIds
					: product.collectionIds
						? [product.collectionIds]
						: [];

				const isInSameCollection = (p: Product): boolean => {
					if (!p.collectionIds) return false;

					const otherCollections = Array.isArray(p.collectionIds)
						? p.collectionIds
						: [p.collectionIds];

					return otherCollections.some((cid) => currentCollections.includes(cid));
				};

				const isNotCurrent = (p: Product): boolean => p.id !== product.id;

				const related = products.filter((p: Product) => isNotCurrent(p) && isInSameCollection(p));
				const unrelated = products.filter(
					(p: Product) => isNotCurrent(p) && !isInSameCollection(p),
				);

				return [...related, ...unrelated];
			}}
		/>

		<CollectionSection />
	</main>
</PrimaryLayout>
